@using CarDealer.Common
@model CarDealer.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <div class="col-md-4 offset-md-4">
        <p>We have:</p>
        <ul class="list-group">
            <li class="list-group-item bg-info">Sales: @Model.SalesCount</li>
            <li class="list-group-item bg-light">Cars: @Model.CarsCount</li>
            <li class="list-group-item bg-info">Makes: @Model.MakesCount</li>
            <li class="list-group-item bg-light">Categories: @Model.CategoriesCount</li>
        </ul>
    </div>
</div>
