@model IEnumerable<CarDealer.Web.ViewModels.Sales.SaleViewModel>

<section id="home">
    <div class="row">
        <div class="owl-carousel owl-theme home-slider">
            <div class="item item-first">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h3>You can browse cars in any country.</h3>
                            <a asp-area="" asp-controller="SearchSales" asp-action="Index" class="section-btn btn btn-default">Browse Cars</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-second">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h3>You can browse cars in any country.</h3>
                            <a asp-area="" asp-controller="SearchSales" asp-action="Index" class="section-btn btn btn-default">Browse Cars</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item item-third">
                <div class="caption">
                    <div class="container">
                        <div class="col-md-6 col-sm-12">
                            <h3>You can browse cars in any country.</h3>
                            <a asp-area="" asp-controller="SearchSales" asp-action="Index" class="section-btn btn btn-default">Browse Cars</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*CARS*@
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title text-center">
                    <h2>Featured Cars</h2>
                </div>
            </div>
            <br />
            @foreach (var sale in Model)
            {
                <div class="col-md-4 col-sm-4">
                    <div class="courses-thumb courses-thumb-secondary">
                        <div class="courses-top">
                            <div class="courses-image">
                                <img src="@sale.ResizedImageUrls.FirstOrDefault()" class="img-responsive" alt="">
                            </div>
                            <div class="courses-date">
                                <span title="Author"><i class="fa fa-dashboard"></i> @sale.Car.Mileage km</span>
                                <span title="Author"><i class="fa fa-cube"></i> @sale.Car.EngineSize cc</span>
                                <span title="Views"><i class="fa fa-cog"></i> @sale.Car.Gearbox</span>
                            </div>
                        </div>

                        <div class="courses-detail">
                            <h3 class="mt-0"><a asp-action="SaleInfo" asp-controller="Sales" asp-route-id="@sale.Id">@sale.Name</a></h3>

                            <p class="lead"><strong>@sale.Price €</strong></p>

                            <p>@sale.Car.HorsePower hp &nbsp;&nbsp;/&nbsp;&nbsp; @sale.Car.FuelType &nbsp;&nbsp;/&nbsp;&nbsp; @sale.Car.ManufactureDate.Month/@sale.Car.ManufactureDate.Year &nbsp;&nbsp;/&nbsp;&nbsp; @sale.Car.State vehicle</p>
                        </div>

                        <div class="courses-info">
                            <a asp-action="SaleInfo" asp-controller="Sales" asp-route-id="@sale.Id" class="section-btn btn btn-primary btn-block">View More</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
