@model CarDealer.Web.ViewModels.Sales.SalesListViewModel

@if (Model.Sales.Count() == 0)
{
    <section>
        <div class="container">
            <div class="text-center">
                <h1>My Cars Listing</h1>

                <br>

                <p class="lead">You don't have any added car.</p>
            </div>
        </div>
    </section>
}
else
{
    <section>
        <div class="container">
            <div class="text-center">
                <h1>My Cars Listing</h1>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                @foreach (var sale in Model.Sales)
                {
                    <div class="col-md-4 col-sm-4">
                        <div class="courses-thumb courses-thumb-secondary">
                            <div class="courses-top">
                                <div class="courses-image">
                                    <img src="@sale.ResizedImageUrls.FirstOrDefault()" class="img-responsive" alt="">
                                </div>
                                <div class="courses-date">
                                    <span title="Author"><i class="fa fa-dashboard"></i> @sale.Car.Mileage km</span>
                                    <span title="Author"><i class="fa fa-cube"></i> @sale.Car.EngineSize cc</span>
                                    <span title="Views"><i class="fa fa-cog"></i> @sale.Car.Gearbox</span>
                                </div>
                            </div>

                            <div class="courses-detail">
                                <h3 class="mt-0"><a asp-action="SaleInfo" asp-controller="Sales" asp-route-id="@sale.Id">@sale.Name</a></h3>

                                <p class="lead"><strong>@sale.Price €</strong></p>

                                <p>@sale.Car.HorsePower hp &nbsp;&nbsp;/&nbsp;&nbsp; @sale.Car.FuelType &nbsp;&nbsp;/&nbsp;&nbsp; @sale.Car.ManufactureDate.Month/@sale.Car.ManufactureDate.Year &nbsp;&nbsp;/&nbsp;&nbsp; @sale.Car.State vehicle</p>
                            </div>

                            <div class="courses-info">
                                <a asp-action="SaleInfo" asp-controller="Sales" asp-route-id="@sale.Id" class="section-btn btn btn-primary btn-block">View More</a>
                            </div>
                            <div class="courses-info">
                                <a asp-action="Edit" asp-controller="Sales" asp-route-id="@sale.Id" class="section-btn btn btn-primary btn-block">Edit</a>
                            </div>
                            <div class="courses-info">
                                <a asp-action="DeleteSale" asp-controller="Sales" asp-route-id="@sale.Id" class="btn-delete btn btn-primary btn-block" data-dismiss="modal">Delete</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <partial name="_PagingPartial" model="@Model" />
        </div>
    </section>
}

<!-- Modal -->
<script>
    $('#confirm-delete').on('click', '.btn-ok', function (e) {
        var $modalDiv = $(e.delegateTarget);
        var id = $(this).data('itemId');
        $modalDiv.addClass('loading');
        $.post('/RepFilters/Delete/' + id).then(function () {
            $modalDiv.modal('hide').removeClass('loading');
        });
    });
    $('#confirm-delete').on('show.bs.modal', function (e) {
        var data = $(e.relatedTarget).data();
        $('.description', this).text(data.itemDescription);
        $('.btn-ok', this).data('itemId', data.itemId);
    });
</script>

