@model CarDealer.Web.ViewModels.Sales.SalesListViewModel

@if (Model.Sales.Count() == 0)
{
    <section>
        <div class="container">
            <div class="text-center">
                <h1>Car Listing</h1>

                <br>

                <p class="lead">There is no cars by the search criterias.</p>
            </div>
        </div>
    </section>
}
else
{
    <section>
        <div id="cars">
            <br />
            <div class="col-md-12 col-sm-12">
                <div class="section-title text-center">
                    <h2>All cars in your country.</h2>
                </div>
            </div>
            <br />

            <div class="product-grid-list">
                <div class="row mt-30">
                    @foreach (var sale in Model.Sales)
                    {
                        <div class="col-sm-12 col-lg-3">
                            <!-- product card -->
                            <div class="product-item bg-light">
                                <div class="card">
                                    <div class="thumb-content">
                                        <div class="price">$@sale.Price</div>
                                        <a asp-action="SaleInfo" asp-controller="Sales" asp-route-id="@sale.Id">
                                            <img class="card-img-top img-fluid" src="@sale.ResizedImageUrls.FirstOrDefault()" alt="Card image cap">
                                        </a>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title"><a asp-action="SaleInfo" asp-controller="Sales" asp-route-id="@sale.Id">@sale.Car.MakeName @sale.Car.ModelName</a></h4>
                                        <ul class="list-inline product-meta">
                                            <li class="list-inline-item">
                                                <a href="#"><i class="fa fa-calendar"></i>@sale.CreatedOn.Day/@sale.CreatedOn.Month/@sale.CreatedOn.Year</a>
                                            </li>
                                        </ul>
                                        <div class="product-ratings">
                                            <ul class="list-inline">
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item selected"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <hr />
                <partial name="_PagingPartial" model="@Model" />
            </div>
        </div>
    </section>
}
