@using CarDealer.Data.Models.CarModels
@using CarDealer.Data.Models.SaleModels
@inject CarDealer.Services.Data.ICarsService carService
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration
@model CarDealer.Web.ViewModels.Sales.AddSaleViewModel
@{
    this.ViewData["Title"] = "Create ad:";
    var categoriesItems = this.Model.Car.CategoriesItems.Select(x => new SelectListItem(x.Key, x.Value));
    var makesItems = this.Model.Car.MakesItems.Select(x => new SelectListItem(x.Key, x.Value));
    var fuelTypesItems = this.Model.Car.FuelTypeItems.Select(x => new SelectListItem(x.Key, x.Value));
    var euroStandartsItems = this.Model.Car.EuroStandartItems.Select(x => new SelectListItem(x.Key, x.Value));
    var gearboxesItems = this.Model.Car.GearboxesItems.Select(x => new SelectListItem(x.Key, x.Value));
    var colorsItems = this.Model.Car.ColorstItems.Select(x => new SelectListItem(x.Key, x.Value));
    var citiesItems = this.Model.CitiesItems.Select(x => new SelectListItem(x.Key, x.Value));
}

<link href="~/css/multistep.css" rel="stylesheet" />

<form method="post" class="col-md-6 offset-md-3" id="multiForm" enctype="multipart/form-data">
    <input type="hidden" name="captcha" id="captchaInput" />
    <h2>@this.ViewData["Title"]</h2>
    <br />
    <div class="tab">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CityId"></label>
            <select asp-for="CityId" class="form-control" asp-items="citiesItems"></select>
            <span asp-validation-for="CityId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Car.State"></label>
            <select asp-for="Car.State" class="form-control" asp-items="@Html.GetEnumSelectList<State>()"></select>
            <span asp-validation-for="Car.State" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Car.CategoryId"></label>
            <select asp-for="Car.CategoryId" class="form-control" asp-items="categoriesItems"></select>
            <span asp-validation-for="Car.CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Car.MakeId"></label>
            <select name="Car.MakeId" id="MakeId" class="form-control" asp-items="makesItems"></select>
            <span asp-validation-for="Car.MakeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Car.ModelId"></label>
            <select name="Car.ModelId" id="ModelId" class="form-control"></select>
            <span asp-validation-for="Car.ModelId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Car.EuroStandartId"></label>
            <select asp-for="Car.EuroStandartId" class="form-control" asp-items="euroStandartsItems"></select>
            <span asp-validation-for="Car.EuroStandartId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Car.ManufactureDate"></label>
            <input asp-for="Car.ManufactureDate" class="form-control" />
            <span asp-validation-for="Car.ManufactureDate" class="text-danger"></span>
        </div>
    </div>

    <div class="tab">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Car.FuelTypeId"></label>
            <select asp-for="Car.FuelTypeId" class="form-control" asp-items="fuelTypesItems"></select>
            <span asp-validation-for="Car.FuelTypeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Car.EngineSize"></label>
            <input asp-for="Car.EngineSize" class="form-control" />
            <span asp-validation-for="Car.EngineSize" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Car.HorsePower"></label>
            <input asp-for="Car.HorsePower" class="form-control" />
            <span asp-validation-for="Car.HorsePower" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Car.Mileage"></label>
            <input asp-for="Car.Mileage" class="form-control" />
            <span asp-validation-for="Car.Mileage" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Car.ColorId"></label>
            <select asp-for="Car.ColorId" class="form-control" asp-items="colorsItems"></select>
            <span asp-validation-for="Car.ColorId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Car.GearboxId"></label>
            <select asp-for="Car.GearboxId" class="form-control" asp-items="gearboxesItems"></select>
            <span asp-validation-for="Car.GearboxId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Car.Seats"></label>
            <select asp-for="Car.Seats" class="form-control" asp-items="@Html.GetEnumSelectList<Seats>()"></select>
            <span asp-validation-for="Car.Seats" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Car.Doors"></label>
            <select asp-for="Car.Doors" class="form-control" asp-items="@Html.GetEnumSelectList<Doors>()"></select>
            <span asp-validation-for="Car.Doors" class="text-danger"></span>
        </div>
    </div>

    <div class="tab">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Images"></label>
            <input asp-for="Images" class="form-control" />
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DaysValid"></label>
            <input asp-for="DaysValid" class="form-control" />
            <span asp-validation-for="DaysValid" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-4 mt-3 ml-xl-5 ml-lg-5">
            <label class="col-md-3 col-form-label mb-1 font-weight-bold">Car Extras:</label>
            <div class="row">
                @foreach (var extra in carService.GetAllExtras())
                {
                    <div class="border-bottom pb-2 pt-2 ml-2 mr-2 col-sm-3">
                        @if (Model != null && Model.CarExtras != null && Model.CarExtras.Contains(extra.Id))
                        {
                            <input class="form-check-inline" type="checkbox" name="CarExtras" value="@extra.Id" checked />
                        }
                        else
                        {
                            <input class="form-check-inline" type="checkbox" name="CarExtras" value="@extra.Id" id="@extra.Id" />
                        }
                        <label class="d-inline" name="@extra.Name" for="@extra.Id">@extra.Name</label>
                    </div>
                }
            </div>
        </div>
    </div>

    <div style="overflow:auto;">
        <div style="float:right;">
            <button type="button" class="btn btn-primary" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" class="btn btn-primary" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
    </div>

    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
        <span class="step"></span>
        <span class="step"></span>
        <span class="step"></span>
    </div>

</form>

<script src="~/js/multistep.js"></script>

<script>
    document.getElementById('MakeId').addEventListener('change', (e) => {
        const modelSelectElement = document.getElementById('ModelId');
        modelSelectElement.removeAttribute("hidden");
        modelSelectElement.innerHTML = "<option disabled value=''>Select Car Model</option>";
        fetch(`/carmodels/getModels?Id=${e.target.value}`)
            .then((response) => {
                console.log(response);
                return response.json();
            })
            .then((data) => {
                Array.prototype.forEach.call(data, function (item, i) {
                    console.log(item);
                    document.getElementById('ModelId').innerHTML += `<option value="${item.id}">${item.name}</option>`
                });
            });
    });
</script>

<script src="https://www.google.com/recaptcha/api.js?render=@Configuration["googleReCaptcha:SiteKey"]"></script>
<script>
        grecaptcha.ready(function() {
            window.grecaptcha.execute('@Configuration["googleReCaptcha:SiteKey"]', { action: 'home' }).then(function (token) {
                $("#captchaInput").val(token);
            });
        });
</script>