@model CarDealer.Web.ViewModels.Sales.SaleViewModel

@if (this.TempData.ContainsKey("Message"))
{
    <div class="alert alert-success alert-dismissable">@this.TempData["Message"]</div>
}

<section class="section bg-gray">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <!-- Left sidebar -->
            <div class="col-md-8">
                <div class="product-details">
                    <h1 class="product-title">@Model.Car.MakeName @Model.Car.ModelName </h1>
                    <div class="product-meta">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-user-o"></i> By <a href="">@Model.UserName</a></li>
                            <li class="list-inline-item"><i class="fa fa-folder-open-o"></i> Category<a href="">@Model.Car.CategoryName</a></li>
                            <li class="list-inline-item"><i class="fa fa-location-arrow"></i> Location<a href="">@Model.CityName, @Model.CountryName</a></li>
                            <li class="list-inline-item"><i class="fa fa-eye"></i><a href="">@Model.OpensSaleCounter</a></li>
                        </ul>
                    </div>

                    <!-- product slider -->
                    <div class="product-slider">
                        <div class="product-slider-item my-4" data-image="@Model.ResizedImageUrls.FirstOrDefault()">
                            <img class="img-fluid w-100" src="@Model.ResizedImageUrls.FirstOrDefault()" alt="product-img" style="padding-bottom: 50px;">
                        </div>
                        @if (Model.ResizedImageUrls.Count() > 0)
                        {
                            @foreach (var imgUrl in Model.ResizedImageUrls.Skip(1))
                            {
                                <div class="product-slider-item my-4" data-image=@imgUrl>
                                    <img class="d-block img-fluid w-100" src=@imgUrl alt="Second slide">
                                </div>
                            }
                        }
                    </div>
                    <!-- product slider -->

                    <div class="content mt-5 pt-5">
                        <ul class="nav nav-pills  justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home"
                                   aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile"
                                   aria-selected="false">Specifications</a>
                            </li>
                            @if (Model.Car.Extras.Count() > 0)
                            {
                                <li class="nav-item">
                                    <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact"
                                       aria-selected="false">Extras</a>
                                </li>
                            }
                        </ul>
                        <div class="tab-content" id="pills-tabContent">
                            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                                <p>
                                    @Model.Description
                                </p>
                            </div>
                            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                                <h3 class="tab-title">Product Specifications</h3>
                                <table class="table table-bordered product-table">
                                    <tbody>
                                        <tr>
                                            <td>Added</td>
                                            <td>@Model.CreatedOn.Day/@Model.CreatedOn.Month/@Model.CreatedOn.Year</td>
                                        </tr>
                                        <tr>
                                            <td>Seller Price</td>
                                            <td>@Model.Price €</td>
                                        </tr>
                                        <tr>
                                            <td>Manufacture date</td>
                                            <td>@Model.Car.ManufactureDate.Day/@Model.Car.ManufactureDate.Month/@Model.Car.ManufactureDate.Year</td>
                                        </tr>
                                        <tr>
                                            <td>Location</td>
                                            <td>@Model.CityName, @Model.CountryName</td>
                                        </tr>
                                        <tr>
                                            <td>Brand</td>
                                            <td>@Model.Car.MakeName</td>
                                        </tr>
                                        <tr>
                                            <td>Model</td>
                                            <td>@Model.Car.ModelName</td>
                                        </tr>
                                        <tr>
                                            <td>Condition</td>
                                            <td>@Model.Car.State.ToString()</td>
                                        </tr>
                                        <tr>
                                            <td>Mileage</td>
                                            <td>@Model.Car.Mileage km</td>
                                        </tr>
                                        <tr>
                                            <td>Fuel type</td>
                                            <td>@Model.Car.FuelTypeName</td>
                                        </tr>
                                        <tr>
                                            <td>Engine size</td>
                                            <td>@Model.Car.EngineSize cc</td>
                                        </tr>
                                        <tr>
                                            <td>Horse power</td>
                                            <td>@Model.Car.HorsePower hp</td>
                                        </tr>
                                        <tr>
                                            <td>Euro standart</td>
                                            <td>@Model.Car.EuroStandartId</td>
                                        </tr>
                                        <tr>
                                            <td>Gearbox</td>
                                            <td>@Model.Car.GearboxName</td>
                                        </tr>
                                        <tr>
                                            <td>Seats</td>
                                            <td>@Model.Car.Seats</td>
                                        </tr>
                                        <tr>
                                            <td>Doors</td>
                                            <td>@Model.Car.Doors</td>
                                        </tr>
                                        <tr>
                                            <td>Color</td>
                                            <td>@Model.Car.ColorName</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                                <h2>Car extras:</h2>
                                <div class="product-review">
                                    @foreach (var extra in Model.Car.Extras)
                                    {
                                        <p>@extra</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="sidebar">
                    <div class="widget price text-center">
                        <h4>Price</h4>
                        <p>@Model.Price €</p>
                    </div>
                    <!-- User Profile widget -->
                    <div class="widget user text-center">
                        <h4><a href="">@Model.UserName</a></h4>
                        <h4><a href="">@Model.UserEmail</a></h4>
                        <h4><a href="">@Model.UserPhoneNumber</a></h4>
                        <p class="member-time">Member Since Jun 27, 2017</p>
                        <a asp-controller="Sales" asp-action="AllByUserId" asp-route-id="@Model.UserId">See all ads</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Container End -->
</section>