@model CarDealer.Web.ViewModels.Sales.SaleViewModel
@{
    this.ViewData["Title"] = "Sale info";
 }

<div class="media">
    <img src="@Model.ImageUrl" width="400" class="mr-3 img-responsive">
</div>

<div class="text-md-left col-md-6">
    <h1>@this.ViewData["Title"]</h1>
    <strong style="font-size:20px; color:#000000;">@Model.Name</strong>

    <p>Manufacture date:    @Model.Car.ManufactureDateAsString</p>
    <p>Fuel type:           @Model.Car.FuelType</p>
    <p>Engine size:         @Model.Car.EngineSize</p>
    <p>Euro standart:       @Model.Car.EuroStandart</p>
    <p>Gearbox:             @Model.Car.Gearbox</p>
    <p>Category:            @Model.Car.CategoryName</p>
    <p>Miliage:             @Model.Car.Mileage km</p>
    <p>Color:               @Model.Car.Color</p>
    <p>Country:             @Model.CountryName</p>
    <p>City:                @Model.CityName</p>
    <p>Price:               @Model.Price</p>
    <p>State:               @Model.Car.State</p>
    <p>Created On:          @Model.CreatedOnAsString</p>
    <p>Doors:               @Model.Car.Doors</p>
    <p>Description:         @Model.Description</p>
</div>

<h1>@this.ViewData["Title"]</h1>
<div style="width:600px; display:inline-block; float:left;">
    <strong style="font-size:20px; color:#000000;">@Model.Name</strong>
    <br>
    <div class="clearfix"></div>
    <ul class="d-md-table-cell">
        <li>Manufacture date:</li>
        <li>@Model.Car.ManufactureDateAsString</li>
        <li>Fuel type:</li>
        <li>@Model.Car.FuelType</li>
        <li>Engine size:</li>
        <li>@Model.Car.EngineSize</li>
        <li>Euro standart:</li>
        <li>@Model.Car.EuroStandart</li>
        <li>Gearbox:</li>
        <li>@Model.Car.Gearbox</li>
        <li>Category:</li>
        <li>@Model.Car.CategoryName</li>
        <li>Miliage:</li>
        <li>@Model.Car.Mileage km</li>
        <li>Color:</li>
        <li>@Model.Car.Color</li>
    </ul>
</div>

<table class="table table-secondary">
    <thead>
        <tr>
            <th>Manufacture date:</th>
            <th>Fuel type:</th>
            <th>Engine size:</th>
            <th>Euro standart:</th>
            <th>Gearbox:</th>
            <th>Category:</th>
            <th>Miliage:</th>
            <th>Color:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Car.ManufactureDateAsString</td>
            <td>@Model.Car.FuelType</td>
            <td>@Model.Car.EngineSize</td>
            <td>@Model.Car.EuroStandart</td>
            <td>@Model.Car.Gearbox</td>
            <td>@Model.Car.CategoryName</td>
            <td>@Model.Car.Mileage</td>
            <td>@Model.Car.Color</td>
        </tr>
    </tbody>
</table>
