@model CarDealer.Web.ViewModels.Sales.SaleViewModel

<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div>
                    <img src="@Model.ImageUrl" width="520" height="360" alt="" class="img-responsive wc-image">
                </div>
            </div>
            <hr />
            <div class="col-md-6 col-xs-12">
                <form action="#" method="post" class="form">
                    <h2>@Model.Name</h2>

                    <p class="lead"> <strong class="text-primary">@Model.Price €</strong></p>

                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Type</span>

                                <br>

                                <strong>@Model.Car.State.ToString() vehicle</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Make</span>

                                <br>

                                <strong>@Model.Car.Make</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span> Model</span>

                                <br>

                                <strong>@Model.Car.Model</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>First registration</span>

                                <br>

                                <strong>@Model.Car.ManufactureDate.Month/@Model.Car.ManufactureDate.Year</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Mileage</span>

                                <br>

                                <strong>@Model.Car.Mileage km</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Fuel</span>

                                <br>

                                <strong>@Model.Car.FuelType</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Engine size</span>

                                <br>

                                <strong>@Model.Car.EngineSize cc</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Gearbox</span>

                                <br>

                                <strong>@Model.Car.Gearbox</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Doors</span>

                                <br>

                                <strong>@Model.Car.Doors</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Color</span>

                                <br>

                                <strong>@Model.Car.Color</strong>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr />
        <div class="making-elements-wrap">
            <div class="row">
                <div class="col-md-6">
                    <p class="item-description">
                        <h4>Description</h4>

                        <br>

                        <strong>@Model.Description</strong>
                    </p>
                </div>
                <hr />
                <div class="col-lg-4 col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Contact Details</h4>
                        </div>

                        <div class="panel-body">
                            <p>
                                <span>Name</span>

                                <br>

                                <strong>@Model.UserName</strong>
                            </p>

                            <p>
                                <span>Mobile phone</span>

                                <br>

                                <strong>@Model.UserPhoneNumber</strong>
                            </p>

                            <p>
                                <span>Email</span>

                                <br>

                                <strong>@Model.UserEmailAddress</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</body>

@section Scripts {
    <script>
        $("li[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var saleId = @Model.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();
                var data = { saleId: saleId, value: value };
                $.ajax({
                    type: "POST",
                    url: "/api/Votes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}
